<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID"
	version="3.0">

	<display-name>pennApps Lending Factory</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml,
			classpath:applicationContext-zkoss.xml, 
			classpath:applicationContext-db.xml,
			classpath:applicationContext-txn.xml,
			classpath:applicationContext-daos.xml,
 			classpath:interfaceContext-core.xml,
 			classpath:interfaceContext.xml,
 			classpath:extensionContext.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>APP_ID</param-name>
		<param-value>1</param-value>
	</context-param>
	<context-param>
		<param-name>APP_CODE</param-name>
		<param-value>PFF</param-value>
	</context-param>
	<context-param>
		<param-name>APP_TYPE</param-name>
		<param-value>WEB</param-value>
	</context-param>
	<context-param>
		<param-name>isLog4jAutoInitializationDisabled</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Listener to get application session details -->
	<listener>
		<listener-class>com.pennapps.web.observability.listener.MetricesListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.pennant.core.EventManager</listener-class>
	</listener>
	<listener>
		<display-name>Application startup</display-name>
		<listener-class>com.pennanttech.pennapps.web.ApplicationStartup</listener-class>
	</listener>
	<listener>
		<display-name>Session Listener</display-name>
		<listener-class>com.pennanttech.pennapps.web.security.listener.SessionListener</listener-class>
	</listener>
	<listener>
		<display-name>Spring Request Context Listener</display-name>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>cache</filter-name>
		<filter-class>com.pennant.web.filters.CacheFilter</filter-class>
	</filter>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>com.pennanttech.pennapps.web.security.filter.CORSFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>

	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>com.pennanttech.pennapps.web.security.filter.XSSFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>

	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>HSTSFilter</filter-name>
		<filter-class>com.pennanttech.pennapps.web.security.filter.HSTSFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>

	<filter-mapping>
		<filter-name>HSTSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CSPFilter</filter-name>
		<filter-class>com.pennanttech.pennapps.web.security.filter.CSPFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>

	<filter-mapping>
		<filter-name>CSPFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>HostHeaderFilter</filter-name>
		<filter-class>com.pennanttech.pennapps.web.security.filter.HostHeaderFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>

	<filter-mapping>
		<filter-name>HostHeaderFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter-mapping>
		<filter-name>cache</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cache</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cache</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<listener>
		<description>Used to cleanup when a session is destroyed</description>
		<display-name>ZK Session Cleaner</display-name>
		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
	</listener>

	<servlet>
		<description>The servlet loads the DSP pages.</description>
		<servlet-name>dspLoader</servlet-name>
		<servlet-class>org.zkoss.web.servlet.dsp.InterpreterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>ZK loader for ZUML pages</description>
		<servlet-name>zkLoader</servlet-name>
		<servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
		<init-param>
			<param-name>update-uri</param-name>
			<param-value>/zkau</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<description>The asynchronous update engine for ZK</description>
		<servlet-name>auEngine</servlet-name>
		<servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dspLoader</servlet-name>
		<url-pattern>*.dsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zul</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auEngine</servlet-name>
		<url-pattern>/zkau/*</url-pattern>
	</servlet-mapping>
	<distributable />

	<error-page>
		<error-code>404</error-code>
		<location>/default-error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/default-error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/default-error.jsp</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/default-error.jsp</location>
	</error-page>

	<!-- ==================== Default Welcome File List ==================== -->
	<!-- When a request URI refers to a directory, the default servlet looks for the "welcome file" within that directory and 
		display the corresponding resource URI. -->
	<welcome-file-list>
		<welcome-file>pages/index.zul</welcome-file>
		<welcome-file>loginDialog.zul</welcome-file>
	</welcome-file-list>
</web-app>