<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>pennApps Lending Factory</display-name>
	<description>pennApps Lending Factory</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			 	classpath:api-config-Context.xml, 
			 	classpath:api-gateway-Config.xml,
			 	classpath:applicationContext-db.xml,
				classpath:applicationContext-daos.xml,
 				classpath:applicationContext-core-interface.xml,
 				classpath:client-interfaces-context.xml,
				<!-- classpath:client-interfaces-niyogin-context.xml -->
		</param-value>
	</context-param>
	<context-param>
		<param-name>APP_ID</param-name>
		<param-value>1</param-value>
	</context-param>
	<context-param>
		<param-name>APP_CODE</param-name>
		<param-value>PFF</param-value>
	</context-param>
	<context-param>
		<param-name>APP_TYPE</param-name>
		<param-value>API</param-value>
	</context-param>
	<listener>
		<display-name>Application startup</display-name>
		<listener-class>com.pennanttech.pennapps.web.ApplicationStartup</listener-class>
	</listener>
	<servlet>
		<description>PLF Services Endpoint</description>
		<display-name>PLF_Serices</display-name>
		<servlet-name>PLF_Services</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PLF_Services</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

</web-app>