<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="basicDao" class="com.pennanttech.pennapps.core.jdbc.BasicDao"
		abstract="true">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="secBasicDao" class="com.pennanttech.pennapps.core.jdbc.BasicDao"
		abstract="true">
		<property name="dataSource" ref="secDataSource" />
	</bean>
	<bean id="auditBasicDao" class="com.pennanttech.pennapps.core.jdbc.BasicDao"
		abstract="true">
		<property name="dataSource" ref="auditDataSource" />
	</bean>
	<bean id="extBasicDao" class="com.pennanttech.pennapps.core.jdbc.BasicDao"
		abstract="true">
		<property name="dataSource" ref="extDataSource" />
	</bean>

	<bean id="sequenceDao" class="com.pennanttech.pennapps.core.jdbc.SequenceDao"
		abstract="true" parent="basicDao" />
	<bean id="secSequenceDao" class="com.pennanttech.pennapps.core.jdbc.SequenceDao"
		abstract="true" parent="secBasicDao" />
	<bean id="auditSequenceDao" class="com.pennanttech.pennapps.core.jdbc.SequenceDao"
		abstract="true" parent="auditBasicDao" />
	<bean id="extSequenceDao" class="com.pennanttech.pennapps.core.jdbc.SequenceDao"
		abstract="true" parent="extBasicDao" />

	<bean id="searchProcessor" class="com.pennanttech.pennapps.jdbc.search.SearchProcessor">
		<constructor-arg name="dataSource" ref="dataSource" />
	</bean>
	<bean id="auditSearchProcessor" class="com.pennanttech.pennapps.jdbc.search.SearchProcessor">
		<constructor-arg name="dataSource" ref="auditDataSource" />
	</bean>
	<bean id="extSearchProcessor" class="com.pennanttech.pennapps.jdbc.search.SearchProcessor">
		<constructor-arg name="dataSource" ref="extDataSource" />
	</bean>
	
	<!-- BEAN FOR GENERATING THE PRIMARY KEYS -->
	<bean id="nextidviewDAO" class="com.pennant.backend.dao.impl.NextIdViewSQLServerDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="extDataSource" ref="extDataSource" />
	</bean>

	<bean id="secNextidviewDAO" class="com.pennant.backend.dao.impl.NextIdViewSQLServerDaoImpl">
		<property name="dataSource" ref="secDataSource" />
	</bean>

	<bean id="auditNextidviewDAO" class="com.pennant.backend.dao.impl.NextIdViewSQLServerDaoImpl">
		<property name="dataSource" ref="auditDataSource" />
	</bean>
</beans>