#####################################################################################################################################################################
# Configuration file to feed input to the Java Program generating init message for the different broker services.													#
# The following are the attributes that would be read by the java utility																							#
#																																									#
#####################################################################################################################################################################



SERVERIP = 192.168.1.5
SERVERPORT = 9001
QMGRNAME = QM.ABK.ACCHOST
CHANNEL = MC.ABK.ACCHOST

MSGFMT_CUST_INFO=MDM.CUSTOMER.INFO
MSGFMT_RESERVECIF_INFO=RESERVE.CIF
MSGFMT_RELEASECIF_INFO=RELEASE.CIF
MSGFMT_CREATECIF_INFO=CREATE.CIF.RETAIL
MSGFMT_UPDATECIF_INFO=UPDATE_CUST_RETAIL
MSGFMT_CUSTDEDUP_INFO=CUSTOMER.DUPLICATE.CHECK
MSGFMT_CREATEACCOUNT_INFO=CREATE.ACCOUNT.T24
MSGFMT_CUSTOMERLIMIT_INFO=FETCH_LIMIT_DETAIL
MSGFMT_CUSTOMERLIMITSUMMARY_INFO=CUST.LIMIT.SUMMARY

MSGFMT_PREDEALCHECK_INFO=DEAL.ONLINE.INQUIRY
MSGFMT_RESERVEUTILIZATION_INFO=RESERVE
MSGFMT_OVERRIDE_RESERVE_INFO=OVERRIDE_RESERVE
MSGFMT_CONFIRMRESERVE_INFO=CONFIRM
MSGFMT_CANCELRESERVE_INFO=CANCEL_RESERVE
MSGFMT_CANCELUTILIZATION_INFO=CANCEL_UTILIZATION

MSGFMT_UAEDDS_INFO=DDA_REG_INITIATION
MSGFMT_UAEDDSAMMENDMENT_INFO=UAEDDSAMMENDMENT.INFO
MSGFMT_DDA_CANCELLATION=DDA.CANCELLATION
MSGFMT_ADDHOLD_INFO=COLLATERAL.BLOCK1
MSGFMT_REMOVEHOLD_INFO=COLLATERAL.UNBLOCK1
MSGFMT_COLLATERALMARK_INFO=COLLATERAL.BLOCK
MSGFMT_COLLATERALUNMARK_INFO=COLLATERAL.UNBLOCK
MSGFMT_ACCOUNTPOSTINGS_INFO=WITHINBANK.TRANSFER
MSGFMT_REVERSEPOSTINGS_INFO=REVERSAL.REQUEST
MSGFMT_ACCOUNTS_INQUIRY=OPERATIVE.ACCOUNT.INQUIRY
MSGFMT_ACCOUNT_INQUIRY=OPERATIVE.ACCOUNT.DETAIL

MSGFMT_DEPOSITS=IB.INVESTMENT.ACCOUNTS
MSGFMT_DEPOSIT_DETAILS=IB.INVESTMENT.ACCOUNT.DETAILS


REQQUEUE=PT.PFF.REQUEST
RESQUEUE=PT.PFF.RESPONSE


SQLDRIVERCLASSNAME=com.microsoft.sqlserver.jdbc.SQLServerDriver
SQLURL=jdbc:sqlserver://192.168.1.19:1433;database=PTInterface
SQLUSERNAME=PTInterface
SQLPASSWORD=ptinterface
