<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="unit-test-suite" verbose="1" parallel="tests"
	thread-count="5">
	<test name="config-test">
		<classes>
			<class name="com.pennant.test.LoadConfigTest" />
		</classes>
	</test>
	<test name="schedule-test" group-by-instances="true">
		<classes>
			<class name="com.pennant.test.schedule.CreateScheduleTestFactory" />
			<class name="com.pennant.test.schedule.ChangeRepayTestFactory" />
			<class name="com.pennant.test.schedule.AddDisbursementTestFactory" />
			<class name="com.pennant.test.schedule.ChangeRateTestFactory" />
		</classes>
	</test>
	<test name="schedule-test-others">
		<packages>
			<package name="com.pennant.test.disburse.*" />
			<package name="com.pennant.test.ratechange.*" />
		</packages>
	</test>
</suite>
