<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="unit-test-suite" verbose="1">
	<test name="config-test">
		<classes>
			<class name="com.pennant.testing.LoadConfigTest" />
		</classes>
	</test>
	<test name="schedule-test" group-by-instances="true">
		<packages>
			<package name="com.pennant.testing.schedule" />
		</packages>
	</test>
</suite>
