<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<WatchedResource>WEB-INF/web.xml</WatchedResource>
	<Resource auth="Container" driverClassName="org.postgresql.Driver" factory="com.pennanttech.pennapps.core.factory.DataSourceFactory"
		appcode="PFF" maxIdle="8" maxTotal="100" minIdle="0" name="jdbc/PFFEQUATION" password="" type="javax.sql.DataSource"
		url="" username="" />
	<Resource auth="Container" driverClassName="org.postgresql.Driver" factory="com.pennanttech.pennapps.core.factory.DataSourceFactory"
		appcode="PFF" maxIdle="8" maxTotal="100" minIdle="0" name="jdbc/PFFSEC" type="javax.sql.DataSource"
		url="jdbc:postgresql://pennantsrv13-02:5432/plfcore_dev" username="postgres" password="Pennant_123" />
	<Resource auth="Container" driverClassName="org.postgresql.Driver" factory="com.pennanttech.pennapps.core.factory.DataSourceFactory"
		appcode="PFF" maxIdle="8" maxTotal="100" minIdle="0" name="jdbc/PFF" type="javax.sql.DataSource"
		url="jdbc:postgresql://pennantsrv13-02:5432/plfcore_dev" username="postgres" password="Pennant_123" />
	<Resource auth="Container" driverClassName="org.postgresql.Driver" factory="com.pennanttech.pennapps.core.factory.DataSourceFactory"
		appcode="PFF" maxIdle="8" maxTotal="100" minIdle="0" name="jdbc/PFFAUDIT" type="javax.sql.DataSource"
		url="jdbc:postgresql://pennantsrv13-02:5432/plfcore_dev" username="postgres" password="Pennant_123" />
	<Resource auth="Container" driverClassName="org.postgresql.Driver" factory="com.pennanttech.pennapps.core.factory.DataSourceFactory"
		appcode="PFF" maxIdle="8" maxTotal="100" minIdle="0" name="jdbc/PFFEXT" password="" type="javax.sql.DataSource" url=""
		username="" />
	<Resource auth="Container" driverClassName="org.postgresql.Driver" factory="com.pennanttech.pennapps.core.factory.DataSourceFactory"
		appcode="PFF" maxIdle="8" maxTotal="100" minIdle="0" name="jdbc/PDP" password="" type="javax.sql.DataSource" url=""
		username="" />
</Context>