<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<WatchedResource>WEB-INF/web.xml</WatchedResource>
	<Resources cachingAllowed="false" cacheMaxSize="1024000" />
	<Resource auth="Container" type="javax.sql.DataSource"
		factory="com.pennanttech.pennapps.core.factory.DataSourceFactory" maxTotal="10" minIdle="0" maxIdle="8"
		name="jdbc/PFFSEC" driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://host:port/plfcore?currentSchema=plf,public" appcode="PFF" username="" password="" />
	<Resource auth="Container" type="javax.sql.DataSource"
		factory="com.pennanttech.pennapps.core.factory.DataSourceFactory" maxTotal="10" minIdle="0" maxIdle="8"
		name="jdbc/PFF" driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://host:port/plfcore?currentSchema=plf,public" appcode="PFF" username="" password="" />
	<Resource auth="Container" type="javax.sql.DataSource"
		factory="com.pennanttech.pennapps.core.factory.DataSourceFactory" maxTotal="10" minIdle="0" maxIdle="8"
		name="jdbc/PFFAUDIT" driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://host:port/plfcore?currentSchema=plfaudit,plf,public" appcode="PFF" username="" password="" />
	<Resource auth="Container" type="javax.sql.DataSource"
		factory="com.pennanttech.pennapps.core.factory.DataSourceFactory" maxTotal="10" minIdle="0" maxIdle="8"
		name="jdbc/PFFEXT" driverClassName="org.postgresql.Driver" url="" appcode="PFF" username="" password="" />
	<Resource auth="Container" type="javax.sql.DataSource"
		factory="com.pennanttech.pennapps.core.factory.DataSourceFactory" maxTotal="10" minIdle="0" maxIdle="8"
		name="jdbc/PDP" driverClassName="org.postgresql.Driver" url="" appcode="PFF" username="" password="" />
</Context>









