<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- ====================================================== -->
	<!-- Define schemas for transactions -->
	<!-- ====================================================== -->
	<tx:advice id="secServiceTxAdvice" transaction-manager="secTransactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="pfsServiceTxAdvice" transaction-manager="pfsTransactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<tx:advice id="auditServiceTxAdvice" transaction-manager="auditTransactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<!-- ====================================================== -->
	<!-- Define Aspect pointcuts and advisors -->
	<!-- for the transaction scopes. -->
	<!-- ====================================================== -->
	<aop:config>
		<aop:pointcut id="guiServiceMethods"
			expression="execution(* com.pennant.gui.service.*.*(..))" />
		<aop:pointcut id="serviceMethods"
			expression="execution(* com.pennant.backend.service.*.*(..))" />
		<aop:pointcut id="daoMethods"
			expression="execution(* com.pennant.backend.dao.*.*(..))" />

		<aop:advisor advice-ref="secServiceTxAdvice" pointcut-ref="guiServiceMethods" />
		<aop:advisor advice-ref="secServiceTxAdvice" pointcut-ref="serviceMethods" />
		<aop:advisor advice-ref="pfsServiceTxAdvice" pointcut-ref="guiServiceMethods" />
		<aop:advisor advice-ref="pfsServiceTxAdvice" pointcut-ref="serviceMethods" />
		<aop:advisor advice-ref="auditServiceTxAdvice"
			pointcut-ref="guiServiceMethods" />
		<aop:advisor advice-ref="auditServiceTxAdvice"
			pointcut-ref="serviceMethods" />

	</aop:config>

	<!-- ====================================================== -->
	<!-- Define the transaction manager -->
	<!-- ====================================================== -->
	<bean id="pfsTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="pfsDatasource" />
	</bean>
	<bean id="secTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="secDatasource" />
	</bean>
	<bean id="auditTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="auditDatasource" />
	</bean>

	<bean id="propertyConfigurer"
		class="org.jasypt.spring.properties.EncryptablePropertyPlaceholderConfigurer">
		<constructor-arg ref="configurationEncryptor" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="searchSystemEnvironment" value="true" />
		<property name="locations">
			<list>
				<value>file:${PFF_HOME}/config/pff.properties</value>
				<value>file:${PFF_HOME}/config/mail.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="placeholderConfigMM" class="com.pennant.mqconnection.InterfacePropertiesUtil">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK" />
		<property name="locations">
			<list>
				<value>file:${PFF_HOME}/config/MQConfig.config</value>
				<value>file:${PFF_HOME}/config/MQMessageFormat.config
				</value>
			</list>
		</property>
	</bean>

	<bean id="environmentVariablesConfiguration"
		class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig">
		<property name="algorithm" value="PBEWithMD5AndDES" />
		<property name="passwordEnvName" value="PFF_PASSWORD" />
	</bean>

	<bean id="configurationEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
		<property name="config" ref="environmentVariablesConfiguration" />
	</bean>
	
	<bean id="secDatasource" class="org.springframework.jndi.JndiObjectFactoryBean">
	  	<property name="resourceRef" value="true"/>		
		<property name="jndiName" value="jdbc/PFFSEC"/>
		<property name="lookupOnStartup" value="true"/>
	</bean>
	<bean id="pfsDatasource" class="org.springframework.jndi.JndiObjectFactoryBean">
	  	<property name="resourceRef" value="true"/>		
		<property name="jndiName" value="jdbc/PFF"/>
		<property name="lookupOnStartup" value="true"/>
	</bean>
	<bean id="auditDatasource" class="org.springframework.jndi.JndiObjectFactoryBean">
	  	<property name="resourceRef" value="true"/>		
		<property name="jndiName" value="jdbc/PFFAUDIT"/>
		<property name="lookupOnStartup" value="true"/>
	</bean>

	<bean id="finOneDatasource" class="org.springframework.jndi.JndiObjectFactoryBean">
	  	<property name="resourceRef" value="true"/>		
		<property name="jndiName" value="jdbc/FINONE"/>
		<property name="lookupOnStartup" value="true"/>
	</bean>
	<bean id="pfsExtDatasource" class="org.springframework.jndi.JndiObjectFactoryBean">
	  	<property name="resourceRef" value="true"/>		
		<property name="jndiName" value="jdbc/PFFEXT"/>
		<property name="lookupOnStartup" value="true"/>
	</bean>

	<bean id="nextidviewDAO" class="com.pennant.backend.dao.impl.NextIdViewSQLServerDaoImpl">
		<property name="dataSource" ref="pfsDatasource" />
		<property name="extDataSource" ref="pfsExtDatasource" />
		<property name="errorDetailsDAO" ref="errorDetailsDAO" />
	</bean>

	<bean id="secNextidviewDAO" class="com.pennant.backend.dao.impl.NextIdViewSQLServerDaoImpl">
		<property name="dataSource" ref="secDatasource" />
		<property name="errorDetailsDAO" ref="errorDetailsDAO" />
	</bean>

	<bean id="auditNextidviewDAO" class="com.pennant.backend.dao.impl.NextIdViewSQLServerDaoImpl">
		<property name="dataSource" ref="auditDatasource" />
		<property name="errorDetailsDAO" ref="errorDetailsDAO" />
	</bean>
</beans>