<definitions xmlns="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:activiti="http://activiti.org/bpmn" xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI"
	xmlns:omgdc="http://www.omg.org/spec/DD/20100524/DC" xmlns:omgdi="http://www.omg.org/spec/DD/20100524/DI" typeLanguage="http://www.w3.org/2001/XMLSchema"
	expressionLanguage="http://www.w3.org/1999/XPath" targetNamespace="http://activiti.org/test">
	<process id="LEGAL_DETAILS" name="Legal Details Workflow" isExecutable="true">
		<startEvent id="startEvent1" name="Start" />
		<userTask id="sid-C73A8001-23A3-4AC1-9CC5-47FE8D9AE0CE" name="Maker" activiti:actor="LEGAL_PRELIMINARY_MAKER"
			activiti:assignmentLevel="Role Queue" />
		<sequenceFlow id="sid-33C55B74-836E-4862-9973-7DDE7492AD96" sourceRef="startEvent1"
			targetRef="sid-C73A8001-23A3-4AC1-9CC5-47FE8D9AE0CE" representsUserAction="false" mandateNotes="false"
			captureReasons="false" />
		<userTask id="sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C" name="Verifier" activiti:actor="LEGAL_DOCUMENT_VERIFIER"
			activiti:assignmentLevel="Role Queue" />
		<exclusiveGateway id="sid-CE064C14-43B0-4BF8-801D-C10091B97D2C" />
		<userTask id="sid-0CC3766A-5FC6-4C32-8B41-0AC246D57FBD" name="Officer" activiti:actor="LEGAL_APPROVAL_OFFICER"
			activiti:assignmentLevel="Role Queue" />
		<userTask id="sid-CE49CE6B-DBA8-4C51-A1ED-66301D58FDF6" name="Branch Manager" activiti:actor="LEGAL_APPROVAL_BRANCH_MANAGER"
			activiti:assignmentLevel="Role Queue" />
		<exclusiveGateway id="sid-BCE969E5-8120-4712-9771-048B2CFADB1B" />
		<userTask id="sid-1C5257F7-3464-46DA-BCD0-E8768F1866C5" name="Area Manager" activiti:actor="LEGAL_APPROVAL_AREA_MANAGER"
			activiti:assignmentLevel="Role Queue" />
		<userTask id="sid-702F2925-0CE6-4B7F-B771-8097CBB2F901" name="Regional Manager" activiti:actor="LEGAL_APPROVAL_REGIONAL_MANAGER"
			activiti:assignmentLevel="Role Queue" />
		<exclusiveGateway id="sid-633AB996-3C51-4FAA-8ABB-776C995F6D39" />
		<sequenceFlow id="sid-4FB2B9D1-F6A4-418D-A557-075928DD7C45" sourceRef="sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C"
			targetRef="sid-633AB996-3C51-4FAA-8ABB-776C995F6D39" representsUserAction="false" mandateNotes="false"
			captureReasons="false" />
		<userTask id="sid-C8CEA116-AD91-4F3A-A733-19FFBFFB6822" name="Head" activiti:actor="LEGAL_APPROVAL_HEAD"
			activiti:assignmentLevel="Role Queue" />
		<serviceTask id="sid-A29FE8CC-81AC-4200-82EF-ED92BA491A2F" name="Complete Process" activiti:operation="doApprove"
			activiti:rerunnable="true" />
		<endEvent id="sid-27580FBC-36F7-4F03-9D11-9C76E0E0BB55" name="Approved" />
		<exclusiveGateway id="sid-CADA3836-A462-4A71-8965-F70AD8F018F1" />
		<sequenceFlow id="sid-9430B00C-510C-48BC-8ED6-FAD88E697B84" sourceRef="sid-0CC3766A-5FC6-4C32-8B41-0AC246D57FBD"
			targetRef="sid-CADA3836-A462-4A71-8965-F70AD8F018F1" representsUserAction="false" mandateNotes="false"
			captureReasons="false" />
		<exclusiveGateway id="sid-F58AA370-124D-4DBF-A365-F64518859C7E" />
		<sequenceFlow id="sid-6464C1A1-DB3C-4AC9-B8EC-A8F6F8C8B60C" sourceRef="sid-CE49CE6B-DBA8-4C51-A1ED-66301D58FDF6"
			targetRef="sid-F58AA370-124D-4DBF-A365-F64518859C7E" representsUserAction="false" mandateNotes="false"
			captureReasons="false" />
		<exclusiveGateway id="sid-7E1F588A-4453-410C-8215-02380A5C9BAB" />
		<sequenceFlow id="sid-679430F0-40EA-4720-80F9-D52ECA50A0DD" sourceRef="sid-1C5257F7-3464-46DA-BCD0-E8768F1866C5"
			targetRef="sid-7E1F588A-4453-410C-8215-02380A5C9BAB" representsUserAction="false" mandateNotes="false"
			captureReasons="false" />
		<sequenceFlow id="sid-0C8DB6B5-44D7-4272-A813-BE8E216BB1DA" sourceRef="sid-A29FE8CC-81AC-4200-82EF-ED92BA491A2F"
			targetRef="sid-27580FBC-36F7-4F03-9D11-9C76E0E0BB55" representsUserAction="false" mandateNotes="false"
			captureReasons="false" />
		<sequenceFlow id="sid-13AB3369-D6D7-4DC4-9B05-CE75B0BC0E29" name="Resubmit"
			sourceRef="sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C" targetRef="sid-C73A8001-23A3-4AC1-9CC5-47FE8D9AE0CE" action="Resubmit"
			state="Resubmitted" representsUserAction="true" mandateNotes="true" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Resubmitted'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-E79DDBE7-0A6A-40D0-894C-AB20154E6053" name="Resubmit"
			sourceRef="sid-702F2925-0CE6-4B7F-B771-8097CBB2F901" targetRef="sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C" action="Resubmit"
			state="Resubmitted" representsUserAction="true" mandateNotes="true" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Resubmitted'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-CF3D8F25-3A38-49CE-9E22-C6C37ED108D8" name="Resubmit"
			sourceRef="sid-C8CEA116-AD91-4F3A-A733-19FFBFFB6822" targetRef="sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C" action="Resubmit"
			state="Resubmitted" representsUserAction="true" mandateNotes="true" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Resubmitted'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-DEA55BC6-3A73-4199-BD81-91420EA95461" name="Submit"
			sourceRef="sid-C73A8001-23A3-4AC1-9CC5-47FE8D9AE0CE" targetRef="sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C" action="Submit"
			state="Submitted" representsUserAction="true" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Submitted'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-47164B9A-775B-4E7D-AE8C-96531BEE19AB" name="Approve"
			sourceRef="sid-F58AA370-124D-4DBF-A365-F64518859C7E" targetRef="sid-A29FE8CC-81AC-4200-82EF-ED92BA491A2F" action="Approve"
			state="Approved" representsUserAction="true" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Approved'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-B3037F5D-8BD6-43D4-A0B1-71EF5C39F931" name="Approve"
			sourceRef="sid-7E1F588A-4453-410C-8215-02380A5C9BAB" targetRef="sid-A29FE8CC-81AC-4200-82EF-ED92BA491A2F" action="Approve"
			state="Approved" representsUserAction="true" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Approved'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-E8DFCCB8-6BA4-490C-A7B3-AFE5E6DC29C2" name="Approve"
			sourceRef="sid-C8CEA116-AD91-4F3A-A733-19FFBFFB6822" targetRef="sid-A29FE8CC-81AC-4200-82EF-ED92BA491A2F" action="Approve"
			state="Approved" representsUserAction="true" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Approved'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-51732A9A-E914-4B96-93BE-38B478FF7E7B" name="Approve"
			sourceRef="sid-702F2925-0CE6-4B7F-B771-8097CBB2F901" targetRef="sid-A29FE8CC-81AC-4200-82EF-ED92BA491A2F" action="Approve"
			state="Approved" representsUserAction="true" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Approved'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-70F2CCE4-FCF8-4A25-AD94-D233836E7A22" name=">=1 &amp;&amp; &lt;=5L"
			sourceRef="sid-CE064C14-43B0-4BF8-801D-C10091B97D2C" targetRef="sid-0CC3766A-5FC6-4C32-8B41-0AC246D57FBD"
			representsUserAction="false" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.finAmount &gt;=
				1 &amp;&amp; vo.finAmount &lt;=500000</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-D160A90A-9462-4BE8-8E31-A23056E2C7D0" name=">5L &amp;&amp; &lt;=15L"
			sourceRef="sid-CE064C14-43B0-4BF8-801D-C10091B97D2C" targetRef="sid-CE49CE6B-DBA8-4C51-A1ED-66301D58FDF6"
			representsUserAction="false" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.finAmount &gt;
				500000 &amp;&amp; vo.finAmount &lt;=1500000</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-D43EC779-9E57-4739-8355-4A3EAF557A57" name=".25L &amp;&amp; &lt;=50L"
			sourceRef="sid-BCE969E5-8120-4712-9771-048B2CFADB1B" targetRef="sid-702F2925-0CE6-4B7F-B771-8097CBB2F901"
			representsUserAction="false" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.finAmount &gt;
				2500000 &amp;&amp; vo.finAmount &lt;=5000000</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-7E4E7CE4-C5CE-4CD9-BD34-151C95D1757A" name=">50L"
			sourceRef="sid-BCE969E5-8120-4712-9771-048B2CFADB1B" targetRef="sid-C8CEA116-AD91-4F3A-A733-19FFBFFB6822"
			representsUserAction="false" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.finAmount &gt;
				5000000</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-74DF6933-1DBC-4E5A-A130-EAA790B7DDC6" name="> 15L"
			sourceRef="sid-CE064C14-43B0-4BF8-801D-C10091B97D2C" targetRef="sid-BCE969E5-8120-4712-9771-048B2CFADB1B"
			representsUserAction="false" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.finAmount &gt;
				1500000</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-85AB46F4-DAED-40C8-A175-40A92008624E" name="> 15L &amp;&amp; &lt;=25L"
			sourceRef="sid-BCE969E5-8120-4712-9771-048B2CFADB1B" targetRef="sid-1C5257F7-3464-46DA-BCD0-E8768F1866C5"
			representsUserAction="false" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.finAmount &gt;
				1500000 &amp;&amp; vo.finAmount &lt;=2500000</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-AAA973FF-41EA-406C-9128-400739624745" name="Submit"
			sourceRef="sid-633AB996-3C51-4FAA-8ABB-776C995F6D39" targetRef="sid-CE064C14-43B0-4BF8-801D-C10091B97D2C" action="Submit"
			state="Submitted" representsUserAction="true" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Submitted'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-AD74EE6C-CA15-482E-B753-CC472E326AAF" name="Approve"
			sourceRef="sid-CADA3836-A462-4A71-8965-F70AD8F018F1" targetRef="sid-A29FE8CC-81AC-4200-82EF-ED92BA491A2F" action="Approve"
			state="Approved" representsUserAction="true" mandateNotes="false" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Approved'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-DC3F94DF-C759-4974-B302-CDCF5FFD1DBA" name="Resubmit"
			sourceRef="sid-CADA3836-A462-4A71-8965-F70AD8F018F1" targetRef="sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C" action="Resubmit"
			state="Resubmitted" representsUserAction="true" mandateNotes="true" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Resubmitted'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-EFFA8A12-99A2-4164-B1AF-E99BFA49246F" name="Resubmit"
			sourceRef="sid-7E1F588A-4453-410C-8215-02380A5C9BAB" targetRef="sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C" action="Resubmit"
			state="Resubmitted" representsUserAction="true" mandateNotes="true" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Resubmitted'</conditionExpression>
		</sequenceFlow>
		<sequenceFlow id="sid-6032E171-F994-4F3F-AF96-DFE122CF532E" name="Resubmit"
			sourceRef="sid-F58AA370-124D-4DBF-A365-F64518859C7E" targetRef="sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C" action="Resubmit"
			state="Resubmitted" representsUserAction="true" mandateNotes="true" captureReasons="false">
			<conditionExpression xsi:type="tFormalExpression">vo.recordStatus ==
				'Resubmitted'</conditionExpression>
		</sequenceFlow>
	</process>
	<bpmndi:BPMNDiagram id="BPMNDiagram_LEGAL_DETAILS">
		<bpmndi:BPMNPlane bpmnElement="LEGAL_DETAILS" id="BPMNPlane_LEGAL_DETAILS">
			<bpmndi:BPMNShape bpmnElement="startEvent1" id="BPMNShape_startEvent1">
				<omgdc:Bounds height="30.0" width="30.0" x="200.0" y="263.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-C73A8001-23A3-4AC1-9CC5-47FE8D9AE0CE" id="BPMNShape_sid-C73A8001-23A3-4AC1-9CC5-47FE8D9AE0CE">
				<omgdc:Bounds height="80.0" width="100.0" x="295.0" y="238.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C" id="BPMNShape_sid-BFD642A5-921A-4F8D-99C6-277BDEE9F13C">
				<omgdc:Bounds height="80.0" width="100.0" x="475.0" y="238.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-CE064C14-43B0-4BF8-801D-C10091B97D2C" id="BPMNShape_sid-CE064C14-43B0-4BF8-801D-C10091B97D2C">
				<omgdc:Bounds height="40.0" width="40.0" x="745.0" y="258.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-0CC3766A-5FC6-4C32-8B41-0AC246D57FBD" id="BPMNShape_sid-0CC3766A-5FC6-4C32-8B41-0AC246D57FBD">
				<omgdc:Bounds height="80.0" width="100.0" x="850.0" y="115.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-CE49CE6B-DBA8-4C51-A1ED-66301D58FDF6" id="BPMNShape_sid-CE49CE6B-DBA8-4C51-A1ED-66301D58FDF6">
				<omgdc:Bounds height="80.0" width="100.0" x="850.0" y="238.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-BCE969E5-8120-4712-9771-048B2CFADB1B" id="BPMNShape_sid-BCE969E5-8120-4712-9771-048B2CFADB1B">
				<omgdc:Bounds height="40.0" width="40.0" x="745.0" y="390.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-1C5257F7-3464-46DA-BCD0-E8768F1866C5" id="BPMNShape_sid-1C5257F7-3464-46DA-BCD0-E8768F1866C5">
				<omgdc:Bounds height="80.0" width="100.0" x="850.0" y="370.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-702F2925-0CE6-4B7F-B771-8097CBB2F901" id="BPMNShape_sid-702F2925-0CE6-4B7F-B771-8097CBB2F901">
				<omgdc:Bounds height="80.0" width="100.0" x="715.0" y="510.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-633AB996-3C51-4FAA-8ABB-776C995F6D39" id="BPMNShape_sid-633AB996-3C51-4FAA-8ABB-776C995F6D39">
				<omgdc:Bounds height="40.0" width="40.0" x="625.0" y="258.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-C8CEA116-AD91-4F3A-A733-19FFBFFB6822" id="BPMNShape_sid-C8CEA116-AD91-4F3A-A733-19FFBFFB6822">
				<omgdc:Bounds height="80.0" width="100.0" x="595.0" y="370.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-A29FE8CC-81AC-4200-82EF-ED92BA491A2F" id="BPMNShape_sid-A29FE8CC-81AC-4200-82EF-ED92BA491A2F">
				<omgdc:Bounds height="80.0" width="100.0" x="1200.0" y="238.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-27580FBC-36F7-4F03-9D11-9C76E0E0BB55" id="BPMNShape_sid-27580FBC-36F7-4F03-9D11-9C76E0E0BB55">
				<omgdc:Bounds height="28.0" width="28.0" x="1350.0" y="264.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-CADA3836-A462-4A71-8965-F70AD8F018F1" id="BPMNShape_sid-CADA3836-A462-4A71-8965-F70AD8F018F1">
				<omgdc:Bounds height="40.0" width="40.0" x="1020.0" y="135.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-F58AA370-124D-4DBF-A365-F64518859C7E" id="BPMNShape_sid-F58AA370-124D-4DBF-A365-F64518859C7E">
				<omgdc:Bounds height="40.0" width="40.0" x="1065.0" y="258.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNShape bpmnElement="sid-7E1F588A-4453-410C-8215-02380A5C9BAB" id="BPMNShape_sid-7E1F588A-4453-410C-8215-02380A5C9BAB">
				<omgdc:Bounds height="40.0" width="40.0" x="1125.0" y="390.0" />
			</bpmndi:BPMNShape>
			<bpmndi:BPMNEdge bpmnElement="sid-4FB2B9D1-F6A4-418D-A557-075928DD7C45" id="BPMNEdge_sid-4FB2B9D1-F6A4-418D-A557-075928DD7C45">
				<omgdi:waypoint x="575.0" y="278.20746887966806" />
				<omgdi:waypoint x="625.4166666666666" y="278.4166666666667" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-51732A9A-E914-4B96-93BE-38B478FF7E7B" id="BPMNEdge_sid-51732A9A-E914-4B96-93BE-38B478FF7E7B">
				<omgdi:waypoint x="815.0" y="550.0" />
				<omgdi:waypoint x="1250.0" y="550.0" />
				<omgdi:waypoint x="1250.0" y="318.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-85AB46F4-DAED-40C8-A175-40A92008624E" id="BPMNEdge_sid-85AB46F4-DAED-40C8-A175-40A92008624E">
				<omgdi:waypoint x="784.570895522388" y="410.42910447761193" />
				<omgdi:waypoint x="850.0" y="410.18587360594796" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-CF3D8F25-3A38-49CE-9E22-C6C37ED108D8" id="BPMNEdge_sid-CF3D8F25-3A38-49CE-9E22-C6C37ED108D8">
				<omgdi:waypoint x="595.0" y="410.0" />
				<omgdi:waypoint x="550.0" y="410.0" />
				<omgdi:waypoint x="550.0" y="318.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-13AB3369-D6D7-4DC4-9B05-CE75B0BC0E29" id="BPMNEdge_sid-13AB3369-D6D7-4DC4-9B05-CE75B0BC0E29">
				<omgdi:waypoint x="493.0" y="238.0" />
				<omgdi:waypoint x="493.0" y="166.0" />
				<omgdi:waypoint x="345.0" y="166.0" />
				<omgdi:waypoint x="345.0" y="238.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-7E4E7CE4-C5CE-4CD9-BD34-151C95D1757A" id="BPMNEdge_sid-7E4E7CE4-C5CE-4CD9-BD34-151C95D1757A">
				<omgdi:waypoint x="745.4166666666666" y="410.4166666666667" />
				<omgdi:waypoint x="695.0" y="410.20746887966806" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-6032E171-F994-4F3F-AF96-DFE122CF532E" id="BPMNEdge_sid-6032E171-F994-4F3F-AF96-DFE122CF532E">
				<omgdi:waypoint x="1085.5" y="258.5" />
				<omgdi:waypoint x="1085.5" y="95.0" />
				<omgdi:waypoint x="550.34375" y="95.0" />
				<omgdi:waypoint x="550.34375" y="238.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-E8DFCCB8-6BA4-490C-A7B3-AFE5E6DC29C2" id="BPMNEdge_sid-E8DFCCB8-6BA4-490C-A7B3-AFE5E6DC29C2">
				<omgdi:waypoint x="670.0" y="450.0" />
				<omgdi:waypoint x="670.0" y="480.0" />
				<omgdi:waypoint x="1250.0" y="480.0" />
				<omgdi:waypoint x="1250.0" y="318.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-679430F0-40EA-4720-80F9-D52ECA50A0DD" id="BPMNEdge_sid-679430F0-40EA-4720-80F9-D52ECA50A0DD">
				<omgdi:waypoint x="950.0" y="410.10183299389" />
				<omgdi:waypoint x="1125.4591836734694" y="410.4591836734694" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-B3037F5D-8BD6-43D4-A0B1-71EF5C39F931" id="BPMNEdge_sid-B3037F5D-8BD6-43D4-A0B1-71EF5C39F931">
				<omgdi:waypoint x="1164.5" y="410.5" />
				<omgdi:waypoint x="1250.0" y="410.5" />
				<omgdi:waypoint x="1250.0" y="318.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-AD74EE6C-CA15-482E-B753-CC472E326AAF" id="BPMNEdge_sid-AD74EE6C-CA15-482E-B753-CC472E326AAF">
				<omgdi:waypoint x="1059.5" y="155.5" />
				<omgdi:waypoint x="1250.0" y="155.5" />
				<omgdi:waypoint x="1250.0" y="238.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-D160A90A-9462-4BE8-8E31-A23056E2C7D0" id="BPMNEdge_sid-D160A90A-9462-4BE8-8E31-A23056E2C7D0">
				<omgdi:waypoint x="784.570895522388" y="278.42910447761193" />
				<omgdi:waypoint x="850.0" y="278.18587360594796" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-DC3F94DF-C759-4974-B302-CDCF5FFD1DBA" id="BPMNEdge_sid-DC3F94DF-C759-4974-B302-CDCF5FFD1DBA">
				<omgdi:waypoint x="1040.5" y="135.5" />
				<omgdi:waypoint x="1040.5" y="95.0" />
				<omgdi:waypoint x="549.34375" y="95.0" />
				<omgdi:waypoint x="549.34375" y="238.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-EFFA8A12-99A2-4164-B1AF-E99BFA49246F" id="BPMNEdge_sid-EFFA8A12-99A2-4164-B1AF-E99BFA49246F">
				<omgdi:waypoint x="1145.5" y="390.5" />
				<omgdi:waypoint x="1145.5" y="97.0" />
				<omgdi:waypoint x="550.34375" y="97.0" />
				<omgdi:waypoint x="550.34375" y="238.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-33C55B74-836E-4862-9973-7DDE7492AD96" id="BPMNEdge_sid-33C55B74-836E-4862-9973-7DDE7492AD96">
				<omgdi:waypoint x="230.0" y="278.0" />
				<omgdi:waypoint x="295.0" y="278.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-70F2CCE4-FCF8-4A25-AD94-D233836E7A22" id="BPMNEdge_sid-70F2CCE4-FCF8-4A25-AD94-D233836E7A22">
				<omgdi:waypoint x="765.5" y="258.5" />
				<omgdi:waypoint x="765.5" y="155.0" />
				<omgdi:waypoint x="850.0" y="155.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-9430B00C-510C-48BC-8ED6-FAD88E697B84" id="BPMNEdge_sid-9430B00C-510C-48BC-8ED6-FAD88E697B84">
				<omgdi:waypoint x="950.0" y="155.1779359430605" />
				<omgdi:waypoint x="1020.4285714285714" y="155.42857142857144" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-0C8DB6B5-44D7-4272-A813-BE8E216BB1DA" id="BPMNEdge_sid-0C8DB6B5-44D7-4272-A813-BE8E216BB1DA">
				<omgdi:waypoint x="1300.0" y="278.0" />
				<omgdi:waypoint x="1350.0" y="278.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-E79DDBE7-0A6A-40D0-894C-AB20154E6053" id="BPMNEdge_sid-E79DDBE7-0A6A-40D0-894C-AB20154E6053">
				<omgdi:waypoint x="715.0" y="550.0" />
				<omgdi:waypoint x="551.3364168799649" y="550.0" />
				<omgdi:waypoint x="551.3364168799649" y="318.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-74DF6933-1DBC-4E5A-A130-EAA790B7DDC6" id="BPMNEdge_sid-74DF6933-1DBC-4E5A-A130-EAA790B7DDC6">
				<omgdi:waypoint x="765.5" y="297.5" />
				<omgdi:waypoint x="765.5" y="390.5" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-6464C1A1-DB3C-4AC9-B8EC-A8F6F8C8B60C" id="BPMNEdge_sid-6464C1A1-DB3C-4AC9-B8EC-A8F6F8C8B60C">
				<omgdi:waypoint x="950.0" y="278.13477088948787" />
				<omgdi:waypoint x="1065.445945945946" y="278.44594594594594" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-DEA55BC6-3A73-4199-BD81-91420EA95461" id="BPMNEdge_sid-DEA55BC6-3A73-4199-BD81-91420EA95461">
				<omgdi:waypoint x="395.0" y="260.0" />
				<omgdi:waypoint x="475.0" y="260.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-D43EC779-9E57-4739-8355-4A3EAF557A57" id="BPMNEdge_sid-D43EC779-9E57-4739-8355-4A3EAF557A57">
				<omgdi:waypoint x="765.431654676259" y="429.568345323741" />
				<omgdi:waypoint x="765.1433691756272" y="510.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-47164B9A-775B-4E7D-AE8C-96531BEE19AB" id="BPMNEdge_sid-47164B9A-775B-4E7D-AE8C-96531BEE19AB">
				<omgdi:waypoint x="1105.0" y="278.0" />
				<omgdi:waypoint x="1200.0" y="278.0" />
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNEdge bpmnElement="sid-AAA973FF-41EA-406C-9128-400739624745" id="BPMNEdge_sid-AAA973FF-41EA-406C-9128-400739624745">
				<omgdi:waypoint x="664.5798319327731" y="278.4201680672269" />
				<omgdi:waypoint x="745.0833333333334" y="278.0833333333333" />
			</bpmndi:BPMNEdge>
		</bpmndi:BPMNPlane>
	</bpmndi:BPMNDiagram>
</definitions>