<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@192.168.1.19:1521:orcl" />
		<property name="username" value="Plfdev" />
		<property name="password" value="pff123" />
		<property name="maxTotal" value="100" />
	</bean>
	
	 <bean id="bajajService" class="com.pennanttech.bajaj.services.BajajService" abstract="true">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
    <bean id="disbursementRequest" class="com.pennanttech.bajaj.services.DisbursementRequestServiceImpl" scope="prototype" parent="bajajService"/>     
	 <bean id="posidexResponceService" class="com.pennanttech.bajaj.services.PosidexResponseServiceImpl" scope="prototype" parent="bajajService"/> 	 
	 <bean id="presentmentRequestService" class="com.pennanttech.bajaj.services.PresentmentRequestServiceImpl" scope="prototype" parent="bajajService"/> 
	 
	<!--  <bean id="collectionProcess" class="com.pennanttech.bajaj.process.collections.CollectionProcess" scope="prototype">
	 	<property name="dataSource" ref="dataSource" />
	 </bean> 
	 <bean id="CollectionDAO" class="com.pennanttech.bajaj.process.collections.model.CollectionDAOImpl" scope="prototype">
	 	<property name="dataSource" ref="dataSource" />
	 </bean>  -->
</beans>