<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="ALL" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-6p [%t] %c{1} M[%M] --> %m\n" />
			<!--
				param name="ConversionPattern" value="%d{ISO8601} %-6p [%t] %c{1}
				M[%M] - %m\n" /
			-->
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>

	<appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-6p [%t] %c{1} M[%M] --> %m\n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<!-- <param name="File" value="./out.PFSLog.txt" /> -->
		<param name="File" value="C:/Pennant/PFF/BASE/logs/PFF.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="20" />
		<param name="Threshold" value="ALL" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-6p [%t] %c{1} M[%M] --> %m\n" />
		</layout>
	</appender>

	<category name="org.springframework.beans.factory.support.DefaultListableBeanFactory">
		<priority value="DEBUG" />
	</category>

	<root>
		<level value="ALL" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />
		<appender-ref ref="FILE" />
	</root>
</log4j:configuration>
