
#####################################################################################################################################################################
#                                                                                                                                                                   #
#                                                                                                                                                                   #
#                                                                                                                                                                   #
#                                                                                                                                                                   #
#                                                                                                                                                                   #
#                                                                                                                                                                   #
#																																									#
#																																									#
#																																									#
#																																									#
#																																									#
#																																									#
#																																									#
#                       																																			#
#																																									#
#                       																																			#
#																																									#
#                       																																			#
#																																									#
#                       																																			#
#																																									#
#																																									#
#																																									#
#####################################################################################################################################################################

# MQ SET1
MQSET01_SERVERIP = 192.168.1.5
MQSET01_SERVERPORT = 9001
MQSET01_QMGRNAME = QM.ABK.ACCHOST
MQSET01_CHANNEL = MC.ABK.ACCHOST
MQSET01_REMOTE=N
MQSET01_REQ_CCSID=0
MQSET01_RES_CCSID=0

# QUEUE COMMON SET
MQSET01_REQ_QUEUE=PT.PFF.REQUEST
MQSET01_RES_QUEUE=PT.PFF.RESPONSE
MQSET01_RES_QUEUEWTIME=100000

#####################################################################################################################################################################

# MQ SET2
MQSET02_SERVERIP = 192.168.1.5
MQSET02_SERVERPORT = 9001
MQSET02_QMGRNAME = QM.ABK.ACCHOST
MQSET02_CHANNEL = MC.ABK.ACCHOST

# QUEUE COMMON SET
MQSET02_REQ_QUEUE=Q.NBK.HOST.BT_AE01_REQ
MQSET02_RES_QUEUE=Q.NBK.HOST.BT_AE01_RES
MQSET02_RES_QUEUEWTIME=100000
MQSET02_REMOTE=Y
MQSET02_REQ_CCSID=0
MQSET02_RES_CCSID=0

