
#####################################################################################################################################################################
#                                                                                                                                                                   #
#                                                                                                                                                                   #
#                                                                                                                                                                   #
#                                                                                                                                                                   #
#                                                                                                                                                                   #
#                                                                                                                                                                   #
#																																									#
#																																									#
#																																									#
#																																									#
#																																									#
#																																									#
#																																									#
#                       																																			#
#																																									#
#                       																																			#
#																																									#
#                       																																			#
#																																									#
#                       																																			#
#																																									#
#																																									#
#																																									#
#####################################################################################################################################################################


MDM.CUSTOMER.SERVICE=MQSET01,REQ,RES
